<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="saker.build.ide.eclipse.extension.ideConfigurationTypeHandler" name="IDE Configuration Type Handler" schema="schema/saker.build.ide.eclipse.extension.ideConfigurationTypeHandler.exsd"/>
   <extension-point id="saker.build.ide.eclipse.extension.environmentUserParameterContributor" name="Environment User Parameter Contributor" schema="schema/saker.build.ide.eclipse.extension.environmentUserParameterContributor.exsd"/>
   <extension-point id="saker.build.ide.eclipse.extension.executionUserParameterContributor" name="Execution User Parameter Contributor" schema="schema/saker.build.ide.eclipse.extension.executionUserParameterContributor.exsd"/>
   <extension-point id="saker.build.ide.eclipse.extension.scriptOutlineDesigner" name="Script Outline Designer" schema="schema/saker.build.ide.eclipse.extension.scriptOutlineDesigner.exsd"/>
   <extension-point id="saker.build.ide.eclipse.extension.scriptInformationDesigner" name="Script Information Designer" schema="schema/saker.build.ide.eclipse.extension.scriptInformationDesigner.exsd"/>
   <extension-point id="saker.build.ide.eclipse.extension.scriptProposalDesigner" name="Script Proposal Designer" schema="schema/saker.build.ide.eclipse.extension.scriptProposalDesigner.exsd"/>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="saker.build.ide.eclipse.handlers.ConfigureCommandHandlerExtensionFactory"
            commandId="saker.build.ide.eclipse.commands.ConfigureCommand">
      </handler>
      <handler
            class="saker.build.ide.eclipse.handlers.UnconfigureCommandHandlerExtensionFactory"
            commandId="saker.build.ide.eclipse.commands.UnconfigureCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="saker.build.ide.eclipse.commands.ConfigureCommand"
               icon="icons/icon.png"
               id="saker.build.ide.eclipse.menus.configureCommand"
               label="Add saker.build nature"
               mnemonic="G"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <not>
                     <reference
                           definitionId="saker.build.ide.eclipse.projectMenuSelectionHasNature">
                     </reference>
                  </not>
                  <with
                        variable="activeMenuSelection">
                     <count
                           value="1">
                     </count>
                  </with>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="saker.build.ide.eclipse.commands.UnconfigureCommand"
               icon="icons/icon.png"
               id="saker.build.ide.eclipse.menus.unconfigureCommand"
               label="Remove saker.build nature"
               mnemonic="G"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="saker.build.ide.eclipse.projectMenuSelectionHasNature">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Saker.build">
            <dynamic
                  class="saker.build.ide.eclipse.TargetsMenuContributionExtensionFactory"
                  id="eclipse-plugin.dynamic1">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="saker.build.ide.eclipse.hasNature">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               icon="icons/icon.png"
               label="Saker.build">
            <dynamic
                  class="saker.build.ide.eclipse.TargetsMenuContributionExtensionFactory"
                  id="eclipse-plugin.dynamic2">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="saker.build.ide.eclipse.projectMenuSelectionHasNature">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               icon="icons/icon.png"
               label="Saker.build">
            <dynamic
                  class="saker.build.ide.eclipse.TargetsMenuContributionExtensionFactory"
                  id="eclipse-plugin.dynamic3">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="saker.build.ide.eclipse.projectMenuSelectionHasNature">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=preferences">
         <separator
               name="eclipse-plugin.separator1"
               visible="true">
         </separator>
         <menu
               icon="icons/icon.png"
               label="Saker.build">
            <dynamic
                  class="saker.build.ide.eclipse.WindowMenuContributionExtensionFactory"
                  id="eclipse-plugin.dynamic4">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="saker.build.ide.eclipse.hasNature">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
	<extension
	    id="saker.build.ide.eclipse.project.nature"
	    name="Saker.build Project Nature"
	    point="org.eclipse.core.resources.natures">
	    <runtime>
	        <run
	            class="saker.build.ide.eclipse.SakerBuildProjectNatureExtensionFactory">
	        </run>
	    </runtime>
	</extension>

 <extension
       id="saker.build.ide.eclipse.builder"
       name="Saker.build Builder"
       point="org.eclipse.core.resources.builders">
    <builder
          callOnEmptyDelta="true">
       <run
             class="saker.build.ide.eclipse.ProjectBuilderExtensionFactory">
       </run>
    </builder>
 </extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="saker.build.ide.eclipse.NaturePropertyTester"
          id="saker.build.ide.eclipse.NaturePropertyTester"
          namespace="saker.build.ide.eclipse"
          properties="hasNatureTest"
          type="java.lang.Object">
    </propertyTester>
 </extension>
 <extension
       point="org.eclipse.core.expressions.definitions">
    <definition
          id="saker.build.ide.eclipse.hasNature">
       <with
             variable="activeEditor">
          <test
                forcePluginActivation="false"
                property="saker.build.ide.eclipse.hasNatureTest"
                value="saker.build.ide.eclipse.project.nature">
          </test>
       </with>
    </definition>
    <definition
          id="saker.build.ide.eclipse.projectMenuSelectionHasNature">
       <with
             variable="activeMenuSelection">
          <and>
             <count
                   value="1">
             </count>
             <iterate
                   ifEmpty="false"
                   operator="or">
                <adapt
                      type="org.eclipse.core.resources.IProject">
                   <test
                         forcePluginActivation="false"
                         property="org.eclipse.core.resources.projectNature"
                         value="saker.build.ide.eclipse.project.nature">
                   </test>
                </adapt>
             </iterate>
          </and>
       </with>
    </definition>
 </extension>
 <extension point="org.eclipse.core.contenttype.contentTypes">
    <file-association
          content-type="org.eclipse.core.runtime.text"
          file-extensions="build">
    </file-association>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="saker.build.ide.eclipse.BuildFileEditorExtensionFactory"
          default="true"
          icon="icons/icon_file.png"
          id="saker.build.ide.eclipse.script.editor"
          name="Saker.build script editor">
    </editor>
 </extension>
 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="saker.build.ide.eclipse.BuildFileEditor"
          class="saker.build.ide.eclipse.EditorOutlineAdapterExtensionFactory">
       <adapter
             type="org.eclipse.ui.views.contentoutline.IContentOutlinePage">
       </adapter>
    </factory>
 </extension>
 <extension
       point="org.eclipse.ui.console.consolePageParticipants">
    <consolePageParticipant
          class="saker.build.ide.eclipse.SakerPluginInfoConsolePageParticipantExtensionFactory"
          id="saker.build.ide.eclipse.SakerPluginInfoConsolePageParticipant">
       <enablement>
          <instanceof
                value="saker.build.ide.eclipse.ISakerPluginInfoConsole">
          </instanceof>
       </enablement>
    </consolePageParticipant>
    <consolePageParticipant
          class="saker.build.ide.eclipse.SakerBuildInfoConsolePageParticipantExtensionFactory"
          id="saker.build.ide.eclipse.SakerBuildInfoConsolePageParticipant">
       <enablement>
          <instanceof
                value="saker.build.ide.eclipse.ISakerBuildInfoConsole">
          </instanceof>
       </enablement>
    </consolePageParticipant>
 </extension>
 <extension
       id="saker.build.ide.eclipse.properties"
       point="org.eclipse.ui.propertyPages">
    <page
          class="saker.build.ide.eclipse.properties.SakerBuildProjectPropertyPageExtensionFactory"
          id="saker.build.ide.eclipse.properties.sakerBuildProjectPropertyPage"
          name="Saker.build settings">
       <enabledWhen>
         <adapt type="org.eclipse.core.resources.IProject">
         	<test property="org.eclipse.core.resources.projectNature" 
                      value="saker.build.ide.eclipse.project.nature"/>
 		 </adapt>
       </enabledWhen>
    </page>
    <page
          category="saker.build.ide.eclipse.properties.sakerBuildProjectPropertyPage"
          class="saker.build.ide.eclipse.properties.RepositoriesProjectPropertyPageExtensionFactory"
          id="saker.build.ide.eclipse.properties.repositoriesProjectPropertyPage"
          name="Task Repositories">
       <enabledWhen>
          <adapt
                type="org.eclipse.core.resources.IProject">
             <test
                   property="org.eclipse.core.resources.projectNature"
                   value="saker.build.ide.eclipse.project.nature">
             </test>
          </adapt>
       </enabledWhen>
    </page>
    <page
          category="saker.build.ide.eclipse.properties.sakerBuildProjectPropertyPage"
          class="saker.build.ide.eclipse.properties.UserParametersProjectPropertyPageExtensionFactory"
          id="saker.build.ide.eclipse.properties.userParametersProjectPropertyPage"
          name="User parameters">
       <enabledWhen>
          <adapt
                type="org.eclipse.core.resources.IProject">
             <test
                   property="org.eclipse.core.resources.projectNature"
                   value="saker.build.ide.eclipse.project.nature">
             </test>
          </adapt>
       </enabledWhen>
    </page>
    <page
          category="saker.build.ide.eclipse.properties.sakerBuildProjectPropertyPage"
          class="saker.build.ide.eclipse.properties.DaemonConnectionsProjectPropertyPageExtensionFactory"
          id="saker.build.ide.eclipse.properties.daemonConnectionsProjectPropertyPage"
          name="Daemon connections">
       <enabledWhen>
          <adapt
                type="org.eclipse.core.resources.IProject">
             <test
                   property="org.eclipse.core.resources.projectNature"
                   value="saker.build.ide.eclipse.project.nature">
             </test>
          </adapt>
       </enabledWhen>
    </page>
    <page
          category="saker.build.ide.eclipse.properties.sakerBuildProjectPropertyPage"
          class="saker.build.ide.eclipse.properties.PathConfigurationProjectPropertyPageExtensionFactory"
          id="saker.build.ide.eclipse.properties.pathConfigurationProjectPropertyPage"
          name="Path configuration">
       <enabledWhen>
          <adapt
                type="org.eclipse.core.resources.IProject">
             <test
                   property="org.eclipse.core.resources.projectNature"
                   value="saker.build.ide.eclipse.project.nature">
             </test>
          </adapt>
       </enabledWhen>
    </page>
    <page
          category="saker.build.ide.eclipse.properties.sakerBuildProjectPropertyPage"
          class="saker.build.ide.eclipse.properties.ScriptConfigurationProjectPropertyPageExtensionFactory"
          id="saker.build.ide.eclipse.properties.scriptConfigurationProjectPropertyPage"
          name="Script configuration">
       <enabledWhen>
          <adapt
                type="org.eclipse.core.resources.IProject">
             <test
                   property="org.eclipse.core.resources.projectNature"
                   value="saker.build.ide.eclipse.project.nature">
             </test>
          </adapt>
       </enabledWhen>
    </page>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="saker.build.ide.eclipse.properties.sakerBuildEnvironmentPreferencePage"
          class="saker.build.ide.eclipse.properties.UserParametersEnvironmentPreferencePageExtensionFactory"
          id="saker.build.ide.eclipse.properties.userParametersEnvironmentPreferencePage"
          name="Environment user parameters">
    </page>
    <page
          class="saker.build.ide.eclipse.properties.SakerBuildEnvironmentPreferencePageExtensionFactory"
          id="saker.build.ide.eclipse.properties.sakerBuildEnvironmentPreferencePage"
          name="Saker.build">
    </page>
 </extension>
 <extension
       point="org.eclipse.ui.ide.editorAssociationOverride">
    <editorAssociationOverride
          class="saker.build.ide.eclipse.BuildFileEditorAssociationOverrideExtensionFactory"
          id="saker.build.ide.eclipse.script.editorAssociationOverride">
    </editorAssociationOverride>
 </extension>
 <extension
       point="saker.build.ide.eclipse.extension.scriptOutlineDesigner">
       <designer
             class="saker.build.ide.eclipse.script.outline.SakerScriptOutlineDesignerExtensionFactory"
             schema_id="saker.script"></designer>
 </extension>
 <extension
       point="saker.build.ide.eclipse.extension.scriptInformationDesigner">
       <designer
             class="saker.build.ide.eclipse.script.information.SakerScriptInformationDesignerExtensionFactory"
             schema_id="saker.script"></designer>
 </extension>
 <extension
       point="saker.build.ide.eclipse.extension.scriptProposalDesigner">
       <designer
             class="saker.build.ide.eclipse.script.proposal.SakerScriptProposalDesignerExtensionFactory"
             schema_id="saker.script"></designer>
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="saker.build.ide.eclipse.commands.BuildProjectCommand"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F9">
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          categoryId="org.eclipse.ui.category.window"
          defaultHandler="saker.build.ide.eclipse.handlers.BuildProjectCommandHandlerExtensionFactory"
          id="saker.build.ide.eclipse.commands.BuildProjectCommand"
          name="Run saker.build">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.commandImages">
    <image
          commandId="saker.build.ide.eclipse.commands.BuildProjectCommand"
          icon="icons/icon.png">
    </image>
 </extension>
</plugin>
